@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.exercise-border {
  border-color: #3a3a3a;
}

input {
  background-color: #232323;
  color: white;
  font-size: 1rem;
  border-color: #232323;
}

input[type="number"] {
  width: 50px;
}

input[type="text"] {
  width: 130px;
}

body {
  background-color: #161616;
  color: white;
}

.bottom-prompt {
  position: absolute;
  top: 0;
  right: 0;
  background: #313f4a;
  display: flex;
  justify-content: space-between;
}

.btn {
  color: white;
  font-weight: bolder;
  padding: 1.8em;
  background-color: rgb(10, 30, 10);
}

.btn.cancel {
  background-color: rgb(56, 13, 0);
}
